*.s
*.ll
*.o

good/*
!good/*.lat
!good/*.input
!good/*.output
!good/*.exit_code

bad/*
!bad/*.lat
!bad/*.input
!bad/*.output
!bad/*.exit_code

warnings/*
!warnings/*.lat
!warnings/*.input
!warnings/*.output
!warnings/*.exit_code